<div th:fragment="forecast_block" th:if="${weatherList.size() != 0}" class="container">
    <div class="forecast_wrapper">
        <div class="forecast" th:if="${weatherList}" th:each="weather : ${weatherList}">
            <h1 class="location_sign" th:text="${weather.getCity()} + ', ' + ${weather.getCountry()}"></h1>

            <form id="addForecast" th:method="POST" action="/WeatherApp-1.0/weather">
                <input type="hidden" id="latitudeId" name="latitude" th:value="${weather.getLatitude()}">
                <input type="hidden" id="longitudeId" name="longitude" th:value="${weather.getLongitude()}">
                <input type="hidden" id="cityNameId" name="cityName" th:value="${weather.getCity()}">
                <input type="hidden" id="userId" name="userId" th:value="${login.getUserId()}">
                <div id="heart" th:class="${weather.isFavorite() == true} ? 'button active' : 'button'"></div>
            </form>

            <h3 th:text="${weather.getMainWeather()}"></h3>
            <img width="200px" height="200px" src="https://github.com/timmawv/WeatherApp/blob/main/img/animated/cloudy-day-1.svg?raw=true" alt="weather icon">
            <div class="weather_wind">
                <div class="weather">
                    <h3>Weather</h3>
                    <p th:text="'Detailed weather: ' + ${weather.getDetailedWeather()}"></p>
                    <p th:text="'Temperature now: ' + ${weather.getTemperatureWeather()}"></p>
                    <p th:text="'Min temperature: ' + ${weather.getMinTemperatureWeather()}"></p>
                    <p th:text="'Max temperature: ' + ${weather.getMaxTemperatureWeather()}"></p>
                    <p th:text="'Feels like: ' + ${weather.getFeelsLikeWeather()}"></p>
                    <p th:text="'Humidity: ' + ${weather.getHumidityWeather()}"></p>
                </div>
                <div class="wind">
                    <h3>Wind</h3>
                    <p th:text="'Wind speed: ' + ${weather.getWindSpeedWeather()}"></p>
                    <p th:text="'Visibility: ' + ${weather.getVisibilityKilometersWeather()}"></p>
                </div>
                <div>
                    <h3>Solar cycle</h3>
                    <p th:text="'Current time in region: ' + ${weather.getCurrentTimeWeather()}"></p>
                    <img width="40px" height="40px" src="https://cdn-icons-png.flaticon.com/512/1163/1163765.png"
                         alt="sunrise "> <span th:text="${weather.getSunriseWeather()}"></span><br>
                    <img width="40px" height="40px" src="https://cdn-icons-png.flaticon.com/512/3920/3920799.png"
                         alt="sunset ">
                    <span th:text="${weather.getSunsetWeather()}"></span>
                </div>
                <div>
                    <h3>City info</h3>
                    <p th:text="'Country: ' + ${weather.getCountry()}"></p>
                    <p th:if="${weather.getState() != null}" th:text="'State: ' + ${weather.getState()}"></p>
                    <p th:text="'City: ' + ${weather.getCity()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>