<div th:fragment="forecast_block" th:if="${forecasts != null}" class="container">

    <div class="forecast_wrapper">

        <h1 class="location_sign" th:text="${forecasts.getCityInfo()}"></h1>
        <div class="forecast">
            <input type="hidden" class="temp" th:value="${temp}">
            <input type="hidden" class="time" th:value="${time}">
            <canvas id="myChart" style="width:100%;"></canvas>
            <div class="d-flex justify-content-between" style="margin-left: 2px">
                <div th:each="forecast : ${forecasts.getForecastHourly()}">
                    <img height="60px" width="60px" th:src="${forecast.getWeather().getIcon()}" alt="icon">
                </div>
            </div>
        </div>
    </div>
</div>