<div th:fragment="header" class="container header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/WeatherApp-1.0/main-page" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ3BudjdlbHd1M3Z3OTRwYTQxbmo3dDVsa3RicGRydnh1ZGltNGFpdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/VsIzjbp1YqdGg/giphy.gif"
                     height="80px" alt="sun">
                <h1 class="sign">WeatherApp</h1>
            </a>
        </div>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
    </header>
</div>