.forecast_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.forecast {
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 15px;
    display: inline-block;
    position: relative;
}

.location_sign {
    width: 82%;
}

.img_weather {
    grid-column-start: 1;
    grid-column-end: 3;

}

.sign_save {
    text-align: center;
    background-color: lightblue;
    border-radius: 25px;
    display: inline-block;
    padding: 20px 80px;
}

.img_city_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.weather_wind {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.weather {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.solar_cycle {
    margin-top: 29px;

}

.large-font {
    font-size: xxx-large;
}

.top-20 {
    position: absolute;
    top: 3%;
    right: 8%;
}

ion-icon.active {
    animation: like 0.5s 1;
    fill: red;
    stroke: none;
}

ion-icon {
    fill: transparent;
    stroke: black;
    stroke-width: 30;
    transition: all 0.5s;
}

@-webkit-keyframes like {
    0% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.button-36 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
    }
}